html, body {
    height: 100%;
    width: 100%;
    background-image: url(https://is3-ssl.mzstatic.com/image/thumb/Purple112/v4/51/b2/ce/51b2ce09-addf-3e11-0c76-2c06e0775c9c/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/1200x630wa.png);
  }

h1 {
    font-size: xx-large;
    font-style: italic;
    color: #fcc2e8;
}

